/* Appliquer une mise en page propre, centrée et agréable à lire */
body {
    background-color: #858484;
    color: #333;
    font-family: "Segoe UI", Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    line-height: 1.7;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #ffffff;
}

/* Titres */
h1, h2 {
    text-align: center;
    color: #070e14;
}

/* Image et légende */
figure {
    text-align: center;
    margin: 30px 0;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
figcaption {
    font-size: 0.9em;
    color: #555;
    margin-top: 8px;
    font-style: italic;
}
/* Liste de la timeline */
ul {
    list-style-type: none;
    padding: 0 30%;
}
ul li {
    margin-bottom: 15px;
            position: relative;
}
ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #01090f;
    font-size: 1.5em;
    line-height: 1;
}

/* Citations */
p em {
    display: block;
    margin: 20px auto;
    font-size: 2em;
    color: #555;
    text-align: center;
    
}

/* Lien vers Wikipedia */
a {
    color: #463a88;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}